---
// Components
import { Image } from 'astro:assets';
import Speaker from '../../components/Speaker.astro';

// Images
import squiggle from '../../assets/svg/squiggle.svg';
import steven from '../../assets/jpg/steven.jpg';
import kevin from '../../assets/jpg/kevin.jpg';
import larry from '../../assets/jpg/larry.jpg';
import kendra from '../../assets/jpg/kendra.jpg';
import IconCluster from '../../components/IconCluster.astro';

// Speaker Details
const speakers = [
	{
		name: 'Dr. Kevin Mannoia',
		organization: 'Free Methodist Church',
		bio: 'Dr. Mannoia has served in ministry leadership for over 30 years since receiving his B.A. from Roberts Wesleyan College, and his Masters of Divinity from Trinity Evangelical Divinity School.  He began his pastoral work in Dallas, Texas and continued his education, obtaining the Ph.D. from the University of North Texas.',
		image: kevin,
	},
	{
		name: 'Dr. Larry Acosta',
		organization: 'City to City Los Angeles',
		bio: 'Over the course of his career, Larry Acosta founded the Hispanic Ministry Center, Urban Youth Workers Institute (UYWI) and KIDWORKS, a community development corporation that reaches and educates at-risk youth in Central Santa Ana, which he co-founded with his wife Jayme. Under Larry’s leadership, UYWI grew from a local, Southern California ministry, to a national urban leadership development organization- training next gen. ethnic pastors and leaders in over 32 cities across the U.S. Larry is currently the Executive Director and Lead Catalyst for City to City Los Angeles.',
		image: larry,
		reverse: true,
	},
	{
		name: 'Steven Bush',
		organization: 'Kingdom One',
		bio: 'Steven is the Chief Vision Officer of Kingdom One and his role is to provide servant leadership to the team, administrative board, strategic partners and ministry clients of Kingdom One! He has the distinct privilege to provide Vision and shape the Mission of Kingdom One’s ministry, while working closely with the Chief Operating Officer to develop and grow a group of Christ Followers who share our purpose of helping ministries to become more Courageous, Healthy and Effective, so that we grow the Church, together!',
		image: steven,
	},
	{
		name: 'Kendra Holybee',
		organization: 'Kingdom One',
		bio: 'Kendra Holybee is the Chief Operating Officer and her role is to lead and shepherd the efforts and energy of the staff at Kingdom One. Kendra’s background includes 20 years in Human Resources in industries including Ministry, Hospitality, Healthcare, and Restaurant. Kendra currently holds her credential for Senior Professional in Human Resources.',
		image: kendra,
		reverse: true,
	},
];
---

<style lang='scss'>
	@use '../../styles/abstracts/mixins' as m;
	:global(.icon-cluster) {
		position: absolute;
		z-index: 1;

		&:nth-of-type(1) {
			top: 2%;
			right: 0;
		}

		&:nth-of-type(2) {
			top: 52%;
			left: 0;
		}

		&:nth-of-type(3) {
			bottom: -5%;
			right: -10%;
		}
	}
</style>

<section
	id='speakers'
	class='teams text-bg-green py-5 position-relative'
>
	<div class='container'>
		<div class='row justify-content-center'>
			<div class='col-xl-8 d-flex flex-column align-items-center'>
				<h2 class='text-white text-center fs-1'>
					Main Session<br /><span class='text-spark-yellow'
						>Speakers</span
					>
				</h2>
				<Image
					src={squiggle}
					alt=''
					class='teams__squiggle w-75'
					aria-hidden='true'
				/>
			</div>
		</div>
		<div class='d-flex flex-column row-gap-5 justify-content-center my-5'>
			<IconCluster />
			{
				speakers.map((speaker) => (
					<Speaker
						name={speaker.name}
						bio={speaker.bio}
						organization={speaker.organization}
						image={speaker.image}
						class='z-2'
						reverse={speaker.reverse ?? false}
					/>
				))
			}
			<IconCluster />
			<IconCluster />
		</div>
	</div>
</section>
