---
export interface Props {
	title: string;
	id?: string;
	items: string[];
}
const { title, items } = Astro.props;
let { id } = Astro.props;
if (!id) {
	id = title.toLowerCase().replace(/\s/g, '-');
}
---

<script>
	import 'bootstrap/js/dist/collapse';
</script>

<div
	class='accordion accordion-flush'
	id={`${id}-accordion`}
>
	<div class='accordion-item'>
		<h4 class='accordion-header'>
			<button
				class='accordion-button w-100 text-start bg-transparent border-0 text-dark d-inline-flex justify-content-between align-items-center py-3 h4 text-uppercase border-2 border-bottom border-dark'
				type='button'
				data-bs-toggle='collapse'
				data-bs-target={`#collapse-${id}`}
				aria-expanded='true'
				aria-controls={`collapse-${id}`}
			>
				{title}

				<div class='accordion-expander d-block text-dark'>+</div>
			</button>
		</h4>
		{
			items.map((trackTitle) => (
				<div
					id={`collapse-${id}`}
					class='accordion-collapse collapse'
					data-bs-parent={`#${id}-accordion`}
				>
					<div class='accordion-body text-dark px-1'>
						<p class='fs-6'>{trackTitle}</p>
					</div>
				</div>
			))
		}
	</div>
</div>
