---
import { Image } from 'astro:assets';

export interface Props {
	rating: number;
	name: string;
	address: string;
	googleReviews: number;
	image: ImageMetadata;
	link: string;
}

const { rating, name, address, googleReviews, image, link } = Astro.props;
---

<div class='card rounded-3 shadow position-relative p-3 text-bg-light'>
	<figure class='ratio ratio-4x3 card-img-top mb-3 rounded-3 overflow-hidden'>
		<Image
			src={image}
			alt={name}
			class='w-100 object-fit-cover'
			loading='lazy'
		/>
	</figure>
	<div class='card-body'>
		<div class='row'>
			<div class='col-auto'>{rating}</div>
			<div class='col-auto'>({googleReviews} Google Reviews)</div>
		</div>
		<div class='row'>
			<div class='col'>
				<h4 class='fw-bold fs-6'>{name}</h4>
				<p class='fs-6 mb-0'>{address}</p>
			</div>
		</div>
	</div>
</div>
