---
import { Image } from 'astro:assets';

export interface Props {
	name: string;
	bio: string;
	organization: string;
	image: ImageMetadata;
	reverse?: boolean;
	class?: string | string[];
}

const {
	name,
	bio,
	organization,
	image,
	reverse,
	class: classList,
} = Astro.props;
---

<style lang='scss'>
	@use '../styles/abstracts/mixins' as m;

	figure {
		@include m.media-breakpoint-between(lg, xxl) {
			position: sticky;
			box-shadow: 2px 4px 20px 8px rgba(black, 0.15);
		}
	}
</style>
<div
	class:list={[
		'speaker',
		'row',
		`${reverse ? 'flex-row-reverse' : ''}`,
		'align-items-stretch',
		'justify-content-center',
		'position-relative',
		classList,
	]}
>
	<div class='col-6 col-lg-3'>
		<figure
			class='mb-0 rounded-circle overflow-hidden top-0 ratio ratio-1x1'
			data-aos='fade-in'
		>
			<Image
				src={image}
				class:list={['w-100', 'h-100', 'object-fit-cover']}
				alt={`headshot for ${name}`}
			/>
		</figure>
	</div>
	<div class={`col-lg-7 ${reverse ? 'text-lg-end' : ''}`}>
		<span class='fw-bold text-spark-yellow fs-5'>{organization}</span>
		<h2 class='text-white'>{name}</h2>
		<p class='text-white fs-6'>{bio}</p>
	</div>
</div>
