---
// Components
import { Image } from 'astro:assets';

// Images
import k1Logo from '../assets/svg/K1 Logo_White (SVG).svg';
import logo from '../assets/png/conference-logo.png';
import SanDiegoButton from '../components/SanDiegoButton.astro';
import InlandEmpireButton from '../components/InlandEmpireButton.astro';
import leadership from '../assets/svg/Leadership.svg';
import people from '../assets/svg/People.svg';
import practices from '../assets/svg/practices.svg';
import YouTubeVideo from '../components/YouTubeVideo.astro';

const words = [
	{ word: 'Courageous', svg: leadership, alt: 'leadership' },
	{ word: 'Healthy', svg: people, alt: 'people' },
	{ word: 'Effective', svg: practices, alt: 'practices' },
];
---

<style lang="scss">
	@use '../styles/abstracts/variables' as v;
	@use '../styles/abstracts/mixins' as m;

	.hero {
		padding: 6.5rem 0;

		.logo {
			width: 40rem;
			max-width: 100%;
			max-height: 30rem;
		}

		&__background {
			@include m.background-layers($opacity: 0.5);

			&--gradient {
				background: linear-gradient(
					to right,
					rgba(0, 255, 255, 0.4) 10%,
					rgba(v.$color-primary--light, 1) 30%
				);
			}
			&--color {
				background: var(--color-primary);
				background: linear-gradient(
					155deg,
					rgba(v.$color-primary, 1) 60%,
					rgba(v.$color-secondary, 1) 90%
				);
			}

			&.color-right {
				@include m.clip-path('right-bottom');
			}

			&.color-left {
				@include m.clip-path('left-bottom');
			}
		}
	}
</style>
<section id="hero" class="hero text-white position-relative">
	<div class="hero__background color-right">
		<div class="hero__background--gradient"></div>
		<div class="hero__background--color"></div>
		<div class="hero__background--lower"></div>
		<div class="hero__background--upper"></div>
	</div>
	<div class="container position-relative z-3 overflow-hidden">
		<div class="row justify-content-between">
			<div class="col-6 col-md-3">
				<Image
					class="logo h-auto object-fit-contain"
					src={logo}
					alt="Grow Together Conference"
				/>
			</div>
			<a
				href="https://kingdomone.co"
				target="_blank"
				class="col-6 col-md-3"
				aria-label="link to kingdom one homepage"
			>
				<Image
					src={k1Logo}
					alt="Kingdom One Logo"
					class="object-fit-contain w-100 h-50"
				/>
			</a>
		</div>
		<div class="row my-5 pt-5">
			<div class="col-12 col-xl-6">
				<h2 class="text-white">Inspire Your Ministry Team to Grow</h2>
				<p class="fs-5 text-white">
					Ministry has unique challenges; your team's engagement
					shouldn't be one of them! The Grow Together conference gives
					your ministry teams the right tools to stay engaged and meet
					their goals together. How? We are so glad you asked! Grow
					Together focuses on equipping your team with high-quality
					training from ministry professionals who care about your
					health, growth, and culture. We aim to grow the church by
					providing best practices your team can easily implement.
					Now's your chance to sign up for an event where your team
					grows, stays united, and finds a helpful community committed
					to seeing all ministries grow together.
				</p>
			</div>
			<div class="col-12 col-xl-6">
				<YouTubeVideo videoId={`BeKmeuwrwaU`} quality="hqdefault" />
			</div>
		</div>
		<div class="row my-5 mx-0">
			<SanDiegoButton
				color="secondary"
				variant="outline"
				classes="me-5 mb-5 mb-lg-0"
			/>
			<InlandEmpireButton color="secondary" variant="outline" />
		</div>
		<div class="row row-cols-1 row-cols-lg-3 my-5 justify-content-around">
			{
				words.map((word, index) => {
					const delay = (index + 1) * 150;
					return (
						<div
							class="col d-flex text-center align-items-center justify-content-lg-center"
							data-aos="fade-right"
							data-aos-delay={delay}
						>
							<span class="fw-bold fs-4 me-2">
								{word.word}
								<br class="d-none d-lg-block d-xxl-none" />
								<Image src={word.svg} alt={word.alt} />
							</span>
						</div>
					);
				})
			}
		</div>
	</div>
</section>
