---
import LocationPin from '../components/LocationPin.astro';
import { TICKETS_URL } from '../consts';
import AttractionPreview from '../components/AttractionPreview.astro';
import FeaturedHotel from '../components/FeaturedHotel.astro';
import InlandEmpireMountains from '../components/svg/inland-empire-mountains.astro';

import hilton from '../assets/jpg/hilton-ontario-airport.jpg';
import holidayInn from '../assets/jpg/holiday-inn.jpg';

import mall from '../assets/jpg/ontario-mills-mall.jpg';
import kart from '../assets/jpg/kart.jpg';
import vg from '../assets/jpg/vg.jpg';

const location = {
	name: 'Rancho Cucamonga',
	description: `Join us in Rancho Cucamonga, California, for the Grow Together Conference—a destination nestled at the base of the San Gabriel Mountains. Known for its picturesque vineyards, Rancho Cucamonga is home to the historic Route 66 and the vibrant Victoria Gardens shopping and entertainment center, which features open-air dining, upscale shops, and family-friendly activities.`,
	hotels: [
		{
			name: 'Embassy Suites by Hilton Ontario Airport',
			address: '3663 East Guasti Road, Ontario, California, 91761',
			rating: 4.2,
			googleReviews: 1641,
			image: hilton,
			link: 'https://www.hilton.com/en/hotels/ontapes-embassy-suites-ontario-airport/',
		},
		{
			name: 'Holiday Inn Express & Suites Ontario Airport-Mills Mall',
			address: '9589 Milliken Ave, Rancho Cucamonga, CA 91730',
			rating: 4.2,
			googleReviews: 514,
			image: holidayInn,
			link: 'https://www.ihg.com/holidayinnexpress/hotels/us/en/rancho-cucamonga/ontma/hoteldetail',
		},
	],
	hotelsLink: `https://www.google.com/maps/search/Hotel/@34.1168531,-117.5563928,13z/data=!3m1!4b1!4m7!2m6!3m5!2sONE%26ALL+Church,+Rancho+Cucamonga,+7576+Etiwanda+Ave,+Etiwanda,+CA+91739!3s0x80c34a21e31008c3:0x1b2e17a43fe0775f!4m2!1d-117.525493!2d34.1167854?entry=ttu`,
	iframe: {
		src: `https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10152.904052737416!2d-117.52715310324994!3d34.11819275881901!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c34a21e31008c3%3A0x1b2e17a43fe0775f!2sONE%26ALL%20Church%2C%20Rancho%20Cucamonga!5e0!3m2!1sen!2sus!4v1730953134722!5m2!1sen!2sus`,
		title: `Embedded Google Map of the area around ONE&ALL Church, San Dimas`,
	},
	locationDetails: {
		name: 'ONE&ALL Church, Rancho Cucamonga',
		address: '7576 Etiwanda Ave, Rancho Cucamonga, CA 91739',
	},
	attractions: [
		{ title: 'Ontario Mills Outlet', src: mall },
		{ title: 'K1 Speed — Indoor Go Karts', src: kart },
		{ title: 'Victoria Gardens', src: vg },
	],
};

const {
	name,
	description,
	hotels,
	iframe,
	locationDetails,
	attractions,
	hotelsLink,
} = location;
---

<section class='location-details inland-empire overflow-x-hidden py-5'>
	<div class='container position-relative d-flex flex-column row-gap-5 mb-5'>
		<div class='row'>
			<div class='col-12'>
				<figure class='mb-0 w-100'>
					<InlandEmpireMountains color='var(--bs-dark)' />
				</figure>
			</div>
		</div>
		<div class='row row-gap-5'>
			<div class='col-lg-7 d-flex flex-column row-gap-4'>
				<div class='name'>
					<h2>{name}</h2>
					<p class='fs-5 mb-0'>
						{description}
					</p>
				</div>
				<div class='event-details'>
					<h3>Date & Time</h3>
					<p class='fs-5'>May 14 & 15, 2025</p>
					<a
						href={TICKETS_URL}
						class='btn btn-dark rounded-pill align-self-start'
						>Get Tickets</a
					>
				</div>
				<div class='hotels mt-5'>
					<div class='row'>
						<div class='col'>
							<h3>Nearby Hotels</h3>
						</div>
					</div>
					<div class='row'>
						{
							hotels.map((hotel) => (
								<div class='col-6'>
									<FeaturedHotel
										address={hotel.address}
										name={hotel.name}
										rating={hotel.rating}
										address={hotel.address}
										googleReviews={hotel.googleReviews}
										image={hotel.image}
										link={hotel.link}
									/>
								</div>
							))
						}
					</div>
				</div>
			</div>
			<div class='col'>
				<h3>Location</h3>
				<div
					class='border rounded-5 overflow-hidden ratio ratio-1x1 w-100'
				>
					<iframe
						src={iframe.src}
						width='100%'
						height='100%'
						style='border:0;'
						allowfullscreen=''
						title={iframe.title}
						loading='lazy'
						referrerpolicy='no-referrer-when-downgrade'
					></iframe>
				</div>
				<LocationPin
					classes='mt-3'
					location={locationDetails.name}
					address={locationDetails.address}
				/>
			</div>
		</div>
		<div class='row'>
			<h3>Local Attractions</h3>
			<ul class='row m-0 p-0 list-unstyled row-gap-5'>
				{
					attractions.map((attraction) => (
						<AttractionPreview attraction={attraction} />
					))
				}
			</ul>
		</div>
	</div>
</section>
